.CompanyCard a {
  padding: 0;
  margin: 0;
}

.CompanyCard a:hover {
  color: rgba(20, 166, 202, 0.664);
}

.CompanyCard {
  width: 60vw;
  padding: 5px 10px;
  background: #FFFFFF;
  margin: 3px auto;
}

.CompanyCard-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CompanyCard h3 {
  margin: 0;
}

.CompanyCard img {
  height: 30px;
}

.CompanyCard p {
  margin: 4px auto 0;
  text-align: left;
}