.Loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

@keyframes spin {
  100% {
    transform: rotate(360deg)
    }
}

@keyframes reverse-spin {
  100% {
    transform: rotate(-360deg)
    }
}

.Loading-spinner {
  position: relative;
  border: 2px solid;
  border-color: #0fcde4 transparent #134cc3 transparent;
  /* box-shadow: 0px 1px 0px  white; */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 5s infinite linear;
}

.Loading-spinner::before {
  content: "";
  box-sizing: border-box;
  top: 10%;
  left: 10%;
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-color: transparent #f6af7a transparent #f340d5;
  border-radius: 50%;
  position: absolute;
  animation: reverse-spin 1s infinite linear;
}