.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 24px;
  background: #FFFFFF;
}

.Navbar div a.active {
  font-weight: 900;
}

.Navbar-logout {
  border: none;
  background-color: white;
  font-size: 16px;
  color: grey;
  font-style: italic;
  cursor: pointer;
  transition-duration: .25s;
}

.Navbar-logout:hover {
  opacity: 60%
}

a, .Navbar-logout {
  margin: 5px;
  text-decoration: none;
  color: black
}